<div annotate-text ng-mouseup="showSelectedText()">
  <h2><%= text.title %></h2>
  <div id="chinese">
    <%- text.content %>
  </div>
<button type="button" name="button" ng-click="annotate()">Annotate</button>
</div>
<%- include partials/cardform %>
<pre>
  {{ card }}
</pre>
