<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cool test!</title>
</head>
<body>
  <div id="chinesetext">
  请孩子们原谅我把这本书献给了一个大人。我有一个正当的理由：这个大人是我在世界上最好的朋友。我还有另一个理由：这个大人什么都懂；即使儿童读物也懂。我还有第三个理由；这个大人住在法国，他在那里忍冻挨饿。他很需要有人安慰。要是这些理由还不够充分，我就把这本书献给这个大人曾经做过的孩子。每人大人都是从做孩子开始的。（然而，记得这事的又有几个呢？）因此，我把我的献词改为：
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="m.js"></script>
<script src="mandarinspot.min.js" charset="UTF-8"></script>
<script>mandarinspot.annotate("#chinesetext");</script>

</body>
</html>
