<form ng-submit="sendMessage()"
  style="margin-top:30px;">
  <h3>Send a message</h3>
  <p>From: {{ currentUser() }}</p>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="To:"
    ng-model="message.receiver"></input>
  </div>
  <div class="form-group">
    <textarea class="form-control"
    placeholder="Enter your message"
    ng-model="message.content">
    </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

<pre>
  {{ message }}
</pre>
