<div class="col-xs-8 text-center flashcard">
  <div>
    {{ cards[index].front }}
  </div>
  <hr>
  <div ng-hide="showFront">
    {{ cards[index].back }}
  </div>
  <div ng-hide="showFront">
    {{ cards[index].tips }}
  </div>
  <button class="col-xs-6 btn btn-primary col-xs-offset-3" ng-show="showFront" ng-click="showFront = false">Show Back</button>
  <button class="col-xs-4 btn btn-danger" ng-hide="showFront">B1</button>
  <button class="col-xs-4 btn btn-success" ng-hide="showFront" ng-click="nextCard()">B2</button>
  <button class="col-xs-4 btn btn-primary" ng-hide="showFront">B3</button>
</div>
