@import url("https://fonts.googleapis.com/css?family=David+Libre");
@import url("http://fonts.googleapis.com/earlyaccess/notosanssc.css");
body {
  font: 13px 'David Libre', Helvetica, Arial;
}
#chinese {
  font-size: 1.6em;
  font-family: 'Noto Sans SC', sans-serif;
}
form,
.container {
  width: 960px;
  margin: 0 auto;
}
.flashcard {
  font-size: 2.4em;
  font-family: 'Noto Sans SC', sans-serif;
}
